.container{
display:  flex;
justify-content: center;
}
.heroes {
  list-style-type: none;

}
.hero{
  height: 2.5em;
  text-align: center;
  width: 100%;
  display: flex;
}

.badge {
  background-color: blue;
  padding: 0.5em;
  width:25px;
}
.name{
  background-color: grey;
  width: 150px;
  padding: 0.5em;
}

.seperator{
  border-bottom: 1px white solid;
}
